- var titulo =  'Andres Coello Goyes'
- var keywords = ['sitio web de Andres coello', 'Desarrollador web Andres coello', 'Desarrollador de software Ecuador', 'Joven autodidacta en software'];
-var description = 'Sitio web personal de Andres Coello Goyes donde muestra las experiencias, logros, articulos y algunos proyectos';
include head.pug
body
    .portada
        .capa_oscura
            include nav.pug
            .row.justify-content-center.p-3.text-center
                .col-8.col-sm-5.col-md-4.col-lg-2.mt-5
                    figure
                        img(src='img/profile.jpg' alt='andres coello goyes')
                .col-12.col-md-9.col-lg-11.text-white
                    h1 Andres Coello Goyes
                    h2 Desarrollador Web
                    p Joven autodidacta, apasionado por el desarrollo de software,
                    p enfocado en el desarrollo web y en constante aprendizaje sobre nuevas tecnologías.
    .container-fluid.p-5
        h3.text-center.mb-5 Artículos Recientes
        .row.justify-content-center
            each valor in articulo
                .col-12.col-sm-6.col-md-4.col-lx-3.mb-4
                    .ui.card.centered
                        .image
                            img(src='img/blog/'+valor.imagen_arti, alt=valor.titulo_proy)
                        .content
                            a(href='/blog/'+valor.enlace_arti, target='_blank').header= valor.titulo_arti
                            .meta
                            span.date
                            br 
                            .description= valor.descripcion_arti 
                        .extra.content
                            a(href='/blog/'+valor.enlace_arti, target='_blank')
                                i.user.icon
                                b= valor.categoria
                                b &nbsp; &nbsp; &nbsp; &nbsp;
                                b Leer Mas...

            
        h3.text-center.p-4 Proyectos Recientes
        .row.justify-content-center
            each valor in proyecto
                .col-12.col-sm-6.col-md-4.col-lx-3.mb-4.ml-4.ml-md-0
                    .ui.card.centered
                        .image
                            img(src='img/proyectos/'+valor.imagen_proy, alt=valor.titulo_proy)
                        .content
                            a(href=valor.enlace_pry, target='_blank').header= valor.titulo_proy
                            .meta
                            span.date
                            br
                            .description= valor.descripcion_proy 
                        .extra.content
                            a(href=valor.enlace_pry, target='_blank')
                                i.globe.icon
                                
                                b &nbsp;
                                b Ver Sitio

            
include footer.pug
