- var titulo =  'Andres Coello Goyes'
- var keywords = ['sitio web de Andres coello', 'Desarrollador web Andres coello', 'Desarrollador de software Ecuador', 'Joven autodidacta en software'];
-var description = 'Sitio web personal de Andres Coello Goyes donde muestra las experiencias, logros, articulos y algunos proyectos';
include head.pug
body
    .portada
        .capa_oscura
            include nav.pug
            .row.justify-content-center.p-3.text-center
                .col-8.col-sm-5.col-md-4.col-lg-2.mt-5
                    figure
                        img.card-img-top(src='img/profile.jpeg' alt='andres coello goyes' data-toggle='modal' data-target='#modalprofile')
                .col-12.col-md-9.col-lg-11.text-white
                    h1(style='font-family: Kanit, sans-serif;') Andres Coello Goyes
                    h2(style='font-family: Kanit, sans-serif;') Developer Full Stack
                    p Joven autodidacta, apasionado por el desarrollo de software en web y movil. 
                    p Enfocado en el desarrollo web y en constante aprendizaje sobre nuevas tecnologías.
    .container-fluid.p-5
        h2.text-center.mb-5 Artículos Recientes
        .row.justify-content-center
            each valor in articulo
                .col-12.col-sm-6.col-md-4.col-lx-3.mb-4
                    .ui.card.centered
                        .image
                            img(src='img/blog/'+valor.imagen_arti, alt=valor.titulo_proy)
                        .content
                            a(href='/blog/'+valor.enlace_arti, target='_blank').header= valor.titulo_arti
                            .meta
                            span.date
                            br 
                            .description= valor.descripcion_arti 
                        .extra.content
                            a(href='/blog/'+valor.enlace_arti, target='_blank')
                                i.user.icon
                                b= valor.categoria
                                b &nbsp; &nbsp; &nbsp; &nbsp;
                                b Leer Mas...

        h2.text-center.p-4(style='font-family: Kanit, sans-serif;') Proyectos Recientes
        .row.justify-content-center
            each valor in proyecto
                .col-12.col-sm-6.col-md-4.col-lx-3.mb-4.ml-4.ml-md-0
                    .ui.card.centered
                        .image
                            img(src='img/proyectos/'+valor.imagen_proy, alt=valor.titulo_proy)
                        .content
                            a(href=valor.enlace_pry, target='_blank').header= valor.titulo_proy
                            .meta
                            span.date
                            br
                            .description= valor.descripcion_proy 
                        .extra.content
                            a(href=valor.enlace_pry, target='_blank')
                                i.globe.icon
                                
                                b &nbsp;
                                b Ver Sitio

        .row.justify-content-center.mt-4
            .col-6.col-md-2
                a(href='/portafolio')
                    button.ui.teal.basic.button Más Proyectos..!

#modalprofile.modal.fade(tabindex='-1' aria-labelledby='modalprofile' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h5#exampleModalLabel.modal-title(style='font-family: Kanit, sans-serif;') Andrés Coello Goyes
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                span(aria-hidden='true') ×
            .modal-body
                img.card-img-top(src='img/profile.jpeg' alt='andres coello goyes')

include footer.pug
